footer {
  position: absolute;
  //display: flex;
  //justify-content: center;
  //align-items: flex-start;
  //top: 100%;
  width: 100%;
  bottom: 0;
  height: 335px;
  background-color: $title1;
  color: white;
  @include text-align(center);
  .footer-copyright {
    background-color: $footer-background2;
    height: 100px;
    width: 100%;
  }
}

.footer-content {
  @include margin-center;
  width: 66%;
  height: 240px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.contact {
  display: inline-flex;
  //flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-start;
  height: 185px;
  @include text-align('right');
  @include margin(57px,0,0,7px);
  line-height: 0;
  width: 350px;
  white-space: normal;
  &-text {
    direction: rtl;
    font-size: 15px;
    line-height: 18px;
  }
  &-header {
    @include margin(15px, 0, 0, 0);
    font-weight: bold;
  }
  .contact-text-input {
    direction: rtl;
    border: 0;
    height: 38px;
    width: 273px;
    border-radius: 30px;
    font-size: 14px;
    @include margin(0, 0, 0, 73px);
    @include padding-right(45px);
  }
}

.main {
  flex-grow: 1;
  margin-top: 6px;
  display: inline-flex;
  flex-direction: row;
  width: 535px;
  &-social {
    width: 140px;
    height: 150px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &-details {
    height: 150px;
    display: flex;
    line-height: 21px;
    flex-direction: column;
  }
  &-agents {
    height: 150px;
    line-height: 18px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &-contact {
      padding-bottom: 13px;
      margin: 0;
    }
    &-signup {
      margin: 0;
    }
  }
}

.footer-right {
  display: flex;
  height: 150px;
  width: 250px;
  flex-direction: column;
  align-items: flex-end;
  white-space: normal;
  justify-content: flex-start;
  line-height: 14px;
  &-logo {
    @include margin(21px,4px,15px,0);
    background-color: $dark-grey-background;
    &-text {
      color: $title1;
      font-size: 22px;
      margin-top: 7px;

    }
  }
  &-text {
    @include text-align(right);
  }
}

.main-agents-login {
  height: 28px;
  width: 111px;
  @include margin(0, 19px, 0, 0);
  border-radius: 25px;
  align-self: center;
  background-color: $dark-grey-background;
  color: $title1;
  &-text {
    margin-top: 6px;
    font-size: 13px;
    font-weight: bold;
  }
}

.main-social-facebook {
  display: flex;
  width: 100px;
  justify-content: space-between;
  line-height: 22px;
  @include text-align(right);
  @include padding(0,4px,0,6px);
  margin-top: -2px;
  @include margin-center;
  &-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  &-text{
    width:62px;
  }
}

.main-social-twitter {
  width: 100px;
  display: flex;
  line-height: 22px;
  margin-top: 8px;
  @include padding(0,4px,0,6px);
  @include text-align(right);
  justify-content: space-between;
  padding-bottom: 6px;
  @include margin-center;
  &-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  &-text{
    width:62px;
  }
}

.main-social-google {
  display: flex;
  width: 100px;
  line-height: 22px;
  @include text-align(right);
  @include padding(0,4px,0,6px);
  justify-content: space-between;
  padding-bottom: 24px;
  @include margin-center;
  &-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  &-text{
    width:62px;
  }
}


