.header {
  position: relative;
  margin: auto;
  width: 100%;
  height: 360px;
  @include responsive-text-size('body');
  background-color: $startHere;
  .interactive-row {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 1288px;
    height: 60px;
    .icons-left {
      position: absolute;
      @include margin-left(68px);
      left: 0;
      width: 200px;
      .seperator-left {
        @include margin(0, -10px, 0, 6px);
      }
      .icon {
        display: inline-block;
        &--user {
          display: inline-block;
          @include retina-sprite($sp-user-group);
          @include margin(24px, 0, 0, -13px)
        }
        &--mail {
          display: inline-block;
          @include margin(0,0,0,17px);
          @include retina-sprite($sp-envelope-group);
        }
      }
    }

    .icons-right {
      position: absolute;
      @include vertical-center-children(30px);
      display: flex;
      align-content: space-between;
      right: 0;
      top: 13px;
      width: 350px;
      .seperator-right {
        @include margin(15px,0,0,15px);
      }

      .sofa {
        position: relative;
        height: 34px;
        @include margin(-10px,0,0,3px);
      }

      .down-arrow {
        @include margin(15px,0,0,18px);

      }

      .user-zone-selector {
        @include margin(10px,0,0,7px);
      }

      .icon {
        display: inline-block;
        &--glass {
          display: inline-block;
          @include margin(11px,0,0,6px);
          @include retina-sprite($sp-glass-group);
        }
      }
      &--logo {
        position: relative;
        display: inline-block;
        @include margin(1px,0,0,40px);
        &--text {
          position: absolute;
          top: -17px;
          @include left(9px);
          color: white;
          @include responsive-text-size('logo_font');
        }
      }
    }
  }
}

.header--title {
  top: 66px;
  @include left(825px);
  @include responsive-text-size('logo_font');
  position: absolute;
  .car-logo {
    @include margin(0,0,0,13px);
  }
}

.header--text {
  position: absolute;
  left: 636px;
  text-align: center;
  top: 151px;
  font-size: 20px;
  p {
    margin-bottom: -5px;
    text-space: 1.1;
  }
}
