.how-it-works {
  display: flex;
  width: 100%;
  @include margin(-42px, -79px, 0, 0);
  z-index: 55;
  border-radius: 10px 10px 0 0;
  background: $greyer-background;
  flex-direction: row-reverse;
  justify-content: space-around;
  .arrow {
    align-self: center;
    position: relative;
    width: 25px;
    height: 25px;
    .circle {
      position: absolute;
    }
  }
  .how-it-works-box {
    display: inline-flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
    &-icon {
      margin-left: 3px;
    }
    .how-it-works-number {
      @include responsive-text-size('how_its_works_title')
    }
    .text-1 {
      width: 136px;
    }

    .text-2 {
      width: 182px;
    }

    .text-3 {
      width: 140px;
    }

    .text-4 {
      width: 100px;
    }
  }
}

.arrow-1 {
  position: absolute;
  transform: translate(8px, 8px);
}

.how-it-works-text {
  direction: rtl;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 14px;
}

.how-it-works-box.step-4 {
  width: 168px;
  justify-content: flex-start;
}

.how-it-works-box.step-3 {
  width: 231px;
  margin-top: -3px;
  justify-content: flex-start;
}

.how-it-works-box.step-2 {
  justify-content: flex-start;
  width: 263px;
  margin-top: -1px;
}

.step-1 {
  margin-top: -3px;
  width: 207px;
  padding-right: 18px;
}

.arrow-container-1 {
  transform: translate(23px, 5px);
}

.arrow-container-2 {
  transform: translate(28px, 5px);
}

.arrow-container-3 {
  transform: translate(39px, 5px);
}

