.pagination{
  padding-top:19px;
  @include padding-left(41px);
  display:flex;
  height:32px;
  line-height: 32px;
  width:400px;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.pagination-box{
  font-size:22px;
  @include margin(0,8px,0,0);
  border: 0;
  @include padding(0,0,0,4px);
  background-color:rgba(0,0,0,0);
  color:#34455d;
  height:32px;
  width:32px;
  font-weight:bold;
}