.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.result {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  flex-direction: row-reverse;
  background-color: #ffffff;
  width: 779px;
  height: 144px;
  @include margin(10px, 0, 2, 2px);
  border: 1px solid $insurance-border;
  border-radius: 5px;
  &:first-child {
    @include margin(12px, 0, 2px, 2px);
  }
}

.company-image-container {
  position: relative;
  width: 181px;
  height: 112px;
  @include margin-right(15px);
  margin-top: 15px;
  border: 1px solid $insurance-border;
  border-radius: 3px;
  .company-image {
    position: absolute;
    top: 39px;
    @include left(21px);
  }
}

.purchase-container {
  display: flex;
  background: $startHere;
  border-radius: 18px;
  width: 122px;
  height: 36px;
  justify-content: center;
  align-items: center;
  @include margin(0, 10px, 20px, 0);
  p {
    display: inline-block;
    color: white;
  }
  .shopping-cart {
    @include margin(-2px, -3px, 0, 0);
  }
}

.company-description {
  @include padding(0, 5px, 0, 0);
  &-text {
    direction: rtl;
    color: $company-info-text;
    width: 400px;
    @include responsive-text-size('body');
    white-space: normal;
  }
  &-header {
    h2 {
      color: $title1;
      padding-top: 5px;
      @include responsive-text-size('insurance-content')
    }
  }
  &-location {
    display: flex;
    height: 25px;
    flex-direction: row-reverse;
    align-self: flex-start;
    p {
      font-size: 13px;
      @include margin(2px, 1px, 0, 0);
      @include padding-right(4px);
    }
  }
  &-rating {
    display: flex;
    width: 106px;
    @include padding(0, 0, 13px, 6px);
  }
}

.location {
  @include margin(-3px, 2px, 0, 0);
}

.company-description-payment {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  height: 100%;
  @include padding(0,14px,0,0);
  justify-content: space-around;
  &-text {
    padding-top: 19px;
    h3 {
      margin: 0;
      @include responsive-text-size('grid_main_titles');
      @include padding-right(15px);
    }
    p {
      font-size: 15px;
      margin: 0;
    }
    .currency {
      font-size: 14px;
    }
  }
}

.separator-xl {
  position: absolute;
  top: 29px;
  @include left(153px);
}

.location-rating-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 25px;
  align-items: center;
  align-content: center;
}
