.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.result-content{
  display:flex;
  flex-flow: row-reverse nowrap;
}
.result-header{
  @include margin(19px, 27.7%,0,auto);
  p {
    color: $title1;
    font-weight: 100;
    margin:0;
    @include responsive-text-size('grid_main_titles')
  }
}
.result {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  //flex-direction: row-reverse;
  background-color: #ffffff;
  width: 779px;
  height: 144px;
  @include margin(10px, 0, 2, 2px);
  border: 1px solid $insurance-border;
  border-radius: 5px;
  &:first-child {
    @include margin(9px, 0, 2px, 2px);
  }
  &:hover{
    background-color: #e3f7f9;
  }
}

.company-image-container {
  position: relative;
  width: 181px;
  height: 112px;
  @include margin-right(15px);
  margin-bottom: 15px;
  border: 1px solid $insurance-border;
  align-self:flex-end;
  border-radius: 3px;
  .company-image {
    position: absolute;
    top: 39px;
    @include left(21px);
  }
}

.purchase-container {
  display: flex;
  background: $startHere;
  border-radius: 18px;
  width: 122px;
  height: 36px;
  justify-content: center;
  align-items: center;
  @include margin(0, 10px, 23px, 0);
  p {
    display: inline-block;
    font-weight: 700;
    font-size:17px;
    letter-spacing: 1.5px;
    color: white;
  }
  .shopping-cart {
    @include margin(-2px, -3px, 0, 0);
  }
}

.company-description {
  display:flex;
  flex-direction: column;
  justify-content: center;
  @include padding(0, 5px, 0, 0);
  &-text {
    direction: rtl;
    color: $company-info-text;
    width: 400px;
    font-weight: 100;
    margin-top:-6px;
    @include responsive-text-size('body');
    white-space: normal;
  }

  &-location {
    display: flex;
    height: 25px;
    flex-direction: row-reverse;
    align-self: flex-start;
    p {
      font-size: 16px;
      font-weight: 100;
      color:$mobile;
      @include margin(2px, 1px, 0, 0);
      @include padding-right(4px);
    }
  }
  &-rating {
    display: flex;
    width: 106px;
    @include padding(14px, 0, 0, 6px);
  }
}

.location {
  @include margin(-1px, 2px, 0, 0);
}

.company-description-payment {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  align-self:flex-end;
  height: 100%;
  @include padding(0,14px,0,0);
  justify-content: space-around;
  &-text {
    padding-top: 25px;
    .cost {
      margin: 0;
      font-size:35px;
      font-weight: 100;
      @include padding-right(15px);
      @include margin(-3px,0,0,0);
    }
    p {
      color: $mobile;
      font-weight: 100;
      font-size: 15px;
      text-align: center;
      padding-right: 17px;
      @include margin(-4px,0,0,0);
    }
    .currency{
      font-size: 20px;
      @include margin(0,-6px,0,0);
    }
  ;
  }
}

.separator-xl {
  position: absolute;
  top: 29px;
  @include left(153px);
}

.location-rating-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 25px;
  padding-bottom:44px;
  align-items: center;
  align-content: center;
}
