.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.result {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row-reverse;
  background-color: #ffffff;
  width: 780px;
  margin: 7px 0 0 0;
  border: 1px solid $insurance-border;
  border-radius: 5px;
  height: 144px;
  &:first-child {
    margin: 12px 0 0 0;
  }
}

.company-image-container {
  position: relative;
  width: 180px;
  height: 110px;
  @include margin-right(15px);
  margin-top: 19px;
  border: 1px solid $insurance-border;
  border-radius: 5px;
  .company-image {
    position: absolute;
    top: 32px;
    @include right(15px);
  }
}

.purchase-container {
  background: $startHere;
  border-radius: 50px;
  width: 125px;
  height: 35px;
  margin: 0 auto;
}

.company-description {
  padding-right: 5px;
  &-text {
    direction: rtl;
    color:$company-info-text;
    width: 400px;
    @include responsive-text-size('body');
    white-space: normal;
  }
  &-header {
    h2 {
      padding-top: 5px;
      @include responsive-text-size('insurance-content')
    }
  }
  &-location {
    display: flex;
    height: 25px;
    flex-direction: row-reverse;
    margin-right: 1px;
    p {
      font-size: 13px;
      margin: 2px 1px 0 0;
      padding-right: 4px;
    }
  }
}

.location {
 margin-right:3px;
  margin-top:-3px;
}