.search-results {
  @include text-align('right');
  flex-flow: row nowrap;
  height: 100%;
  .separator-short {
    @include margin(-1px, 6px, -1px, 6px);
  }
  &-filter {
    color: $company-info-text;
    letter-spacing: 0;
    width: 100%;
    position: relative;
    height: 47px;
    background: #ffffff;
    font-size: 16px;
    padding: 15px;
    border: 1px solid $insurance-border;
    border-radius: 0 0 5px 5px;
    .filter-option {
      color: $red-brighter;
    }
    &-right {
      position: absolute;
      top: 13px;
      @include right(17px);
      .down-arrow {
        @include margin(0, 3px, 2px, 0);
      }
    }
    &-left {
      display: flex;
      flex-direction: row-reverse;
      position: absolute;
      width: 185px;
      @include left(-8px);
      top: 11px;
      .down-arrow {
        margin-top: 5px;
        @include margin-right(-10px)
      }
      .separator-long {
        @include margin(0, 0, 0, -10px);
      }
      p {
        @include margin(2px, 19px, 2px, 19px);
      }
    }
  }
  &-header {
    width: 100%;
    @include padding(10px, 16px, 15px, 0);
    @include margin(5px, 0, 0, 0);
    border-radius: 5px 5px 0 0;
    border-top: 1px solid $insurance-border;
    border-left: 1px solid $insurance-border;
    border-right: 1px solid $insurance-border;
    background: $greyer-background;
    h3 {
      color: $mobile;
      font-size: 23px;
      margin: inherit;
    }
  }
}

.sort-by {
  padding-left: 6px;
}
