.search-results {
  @include text-align('right');
  flex-flow: row nowrap;
  height: 100%;
  .separator-short {
    @include margin(-1px, 6px, -1px, 6px);
  }
  &-filter {
    color: $company-info-text;
    font-weight: 100;
    letter-spacing: 0;
    width: 100%;
    position: relative;
    height: 47px;
    background: #ffffff;
    font-size: 16px;
    padding: 15px;
    border: 1px solid $insurance-border;
    border-radius: 0 0 5px 5px;
    .filter-option {
      display:inline-block;
      height:200px;
      color: $red-brighter;
        &:hover{
          .sort-filter{
            display:flex;
          }
        }
    }
    &-right {
      position: absolute;
      top: 13px;
      @include right(17px);
      .down-arrow {
        @include margin(0, 3px, 2px, 0);
      }
      div:hover,span:hover{
        &:not(.sort-by,.sort-filter){
        color:$red-brighter-hover;
        }
      }
    }
    &-left {
      display: flex;
      flex-direction: row-reverse;
      position: absolute;
      width: 185px;
      @include left(-8px);
      top: 11px;
      .filter-by-area:hover{
          color:$red-brighter-hover;
        .area-filter{
          display:flex;
          left:17px;
        }
      }
      .down-arrow {
        margin-top: 5px;
        @include margin-right(-10px)
      }
      .separator-long {
        @include margin(0, 0, 0, -10px);
      }
      .filter-by-area {
        height:200px;
        @include margin(2px, 19px, 2px, 19px);
      }
    }
  }
  &-header {
    width: 100%;
    @include padding(10px, 16px, 15px, 0);
    @include margin(5px, 0, 0, 0);
    border-radius: 5px 5px 0 0;
    border-top: 1px solid $insurance-border;
    border-left: 1px solid $insurance-border;
    border-right: 1px solid $insurance-border;
    background: $greyer-background;
    h3 {
      color: $mobile;
      font-size: 23px;
      margin: inherit;
    }
  }
}

.sort-by {
  padding-left: 6px;
}

.area-filter{
  @extend %filter-selector;
  position:absolute;
  z-index:2;
  top:35px;
  display:none;
  font-weight: 100;
  font-size:19px;
  color:$title2;
  align-items:flex-end;
  flex-flow: column nowrap;
  height:131px;
  width:167px;
  @include text-align(right);
  &>div{
    padding-bottom:5px;
    padding-right:20px;
    &:hover{
    color:$red-brighter-hover;
    }
    &:first-child{
      padding-top:2px;
    }
    &:not(:last-child):after{
      @include horizontal-line(140px,$insurance-border);
      margin-top:10px;
    }
  }
}

.sort-filter{
  @extend %filter-selector;
  position:absolute;
  z-index:2;
  top:35px;
  right:-5px;
  display:none;
  font-weight: 100;
  font-size:19px;
  color:$title2;
  align-items:flex-end;
  flex-flow: column nowrap;
  height:70px;
  width:167px;
  @include text-align(right);
  &>.option{
    padding-bottom:5px;
    padding-right:20px;
    &:first-child{
      padding-top:2px;
    }
    &:not(:last-child):after{
      @include horizontal-line(140px,$insurance-border);
      margin-top:10px;
    }
  }
}
