.wizard {
    display: inline-flex;
  color: $title2;
  @include text-align('right');
  flex-direction: column;
  width: 310px;
  padding-top: 12px;
  height: 1500px;
  &-header {
    color: $mobile;
    @include padding-right(7px);
    &::after {
      @include margin(15px, 0, 0, 15px);
      @include line(307px, $insurance-border);
    }
  }
  &-text {
    color: inherit;
    white-space: normal;
    font-size: 14px;
  }
  &-questions {
    white-space: normal;
    font-size: 15px;
    @include margin(32px,8px,0,0);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}

.wizard-selectors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 278px;
  align-items: flex-end;
  padding-top: 17px;
  select {
    direction: rtl;
    color: $title2;
    height: 39px;
    width: 267px;
    border: 1px solid $insurance-border;
    appearance: none;
    background: #ffffff;
    border-radius: 3px;
    font-size: 13px;
    @include padding-right(15px);
  }
}

.selector {
  position: relative;
  height: 39px;
  @include margin(0,10px,9px,0);
  width: 273px;
  .down-arrow-gray {
    position: absolute;
    top: 18px;
    left: 21px;
  }
  .plus {
    position: absolute;
    top: 14px;
    left: 18px;
  }
  .calendar {
    position: absolute;
    top: 13px;
    left: 16px;
  }
}

.question {
  width: 270px;
  display: flex;
  height: 80px;
  flex-direction: row-reverse;
  border-bottom: 1px solid $insurance-border;
  &:first-child {
    margin-top: 7px;
    border-top: 1px solid $insurance-border;
  }
  &-text {
    color: $title2;
    direction: rtl;
    margin: 0 auto;
    padding-top: 14px;
    width: 200px;
  }

  .answer {
    display: inline-block;
    width: 37px;
    text-align: center;
    height: 37px;
    border-radius: 3px;
    border: 1px solid $insurance-border;
    &-text {
      color: $title2;
      margin-top: 11px;
    }
  }
}

.answers {
  display: flex;
  margin-top: 19px;
  justify-content: space-between;
  width: 100px;
}