div[class^="arrow-"]{
  display:inline-block;
  position:absolute;
  transform:translate(8px,8px);
  z-index: 2;
  @include retina-sprite($sp-arrow-left-group)
}

.circle{
  display: inline-block;
  z-index: 1;
  @include retina-sprite($sp-circle-group)
}