<html lang="he">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<div class="wrapper">
    <header class="header">
        <div class="interactive-row">
            <div class="icons-left">
                <a href='#' class="icon--user"></a>
                <div class='separator seperator-left'></div>
                <a href='#' class="icon--mail"></a>
            </div>

            <div class="icons-right">
                <a href="#" class="icon--glass"></a>
                <span class='separator seperator-right'></span>
                <div class="down-arrow"></div>
                <div class="user-zone-selector">ביטוח דירה</div>
                <div class="sofa">
                    <div class="sofa-body"></div>
                    <div class="sofa-bottom"></div>
                </div>
                <div class="icons-right--logo compie-logo">
                    <p class="icons-right--logo--text">Compie</p>
                </div>
            </div>
        </div>
        <div class="header-wrapper">
            <div class="header--title">
                <h1 class="car-logo-text">ביטוח <span class="car-logo"></span>רכב</h1>
            </div>
            <div class="header--text">
                <p class="">על מנת שתוכל לנסוע על הכביש בלי דאגות תן לנו להתאים עבורך את הפוליסה</p>
                <p class="">הטובה ביותר עם כיסויים מקיפים במחירים מנצחים ממגוון סוכני הביטוח</p>
                <p class="">ושתהיה לכם נסיעה טובה</p>
            </div>
        </div>
    </header>

    <div class="results">
        <section class="how-it-works">
            <div class="how-it-works-box step-1">
                <div class="how-it-works-box-icon clipboard"></div>
                <span class="how-it-works-number">1</span>
                <p class="how-it-works-text text-1">ממלאים פרטים להצעת ביטוח</p>
            </div>
            <div class="arrow arrow-container-1">
                <div class="arrow-1"></div>
                <div class="circle circle-1"></div>
            </div>
            <div class="how-it-works-box step-2">
                <div class="how-it-works-box-icon coins"></div>
                <span class="how-it-works-number">2</span>
                <p class="how-it-works-text text-2">מקבלים מגוון הצעות משתלמות מסוכני ביטוח</p>
            </div>
            <div class="arrow arrow-container-2">
                <div class="arrow-2"></div>
                <div class="circle circle-2"></div>
            </div>

            <div class="how-it-works-box step-3">
                <div class="how-it-works-box-icon agent"></div>
                <span class="how-it-works-number">3</span>
                <p class="how-it-works-text text-3">בוחרים את סוכן הביטוח הטוב ביותר</p>
            </div>
            <div class="arrow arrow-container-3">
                <div class="arrow-3"></div>
                <div class="circle circle-3"></div>
            </div>


            <div class="how-it-works-box step-4">
                <div class="how-it-works-box-icon click"></div>
                <span class="how-it-works-number">4</span>
                <p class="how-it-works-text text-4">רוכשים פוליסה בקליק</p>
            </div>
        </section>
    </div>
    <div class="content">
        <section class="search-results">
            <div class="search-results-header">
                <h3>נמצאו 3508 סוכני ביטוח</h3>
            </div>
            <div class="search-results-filter">
                <div class="search-results-filter-right">
                    <span>מיין לפי:</span>
                    <span class="filter-option">מחיר מהגבוה לנמוך</span>
                    <div class="down-arrow"></div>
                    <div class="separator-short"></div>
                    <span class="agent-rating">דירוג סוכן</span>
                    <div class="separator-short"></div>
                    <span class="number-rating">מס' מדרגים</span>
                </div>
                <div class="search-results-filter-left">
                    <div class="separator-long"></div>
                    <p>סנן לפי אזור: כל האזורים</p>
                    <div class="down-arrow"></div>
                </div>
            </div>
            <div class="results-container">
                <div class="result result-1">
                    <div class="company-image-container">
                        <div class="company-image"></div>
                    </div>
                    <div class="company-description">
                        <div class="company-description-header">
                            <p>אלמוג יצחקי סוכנות אלמוגים</p>
                        </div>
                        <div class="company-description-text">
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה</p>
                        </div>
                        <div class="location-rating-wrapper">
                            <div class="company-description-location">
                                <div class="location"></div>
                                <p class="location-text">פתח תקווה</p>
                            </div>
                            <div class="company-description-rating">
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-empty"></div>
                                <div class="star-empty"></div>
                            </div>
                        </div>
                    </div>
                    <div class="separator-xl"></div>
                    <div class="company-description-payment">
                        <div class="company-description-payment-text">
                            <h3><span class="currency">₪</span> 483</h3>
                            <p>פרמיה חודשית</p>
                        </div>
                        <div class="purchase-container">
                            <p class="purchase-container-text">לרכישה</p>
                            <div class="shopping-cart"></div>
                        </div>
                    </div>
                </div>
                <div class="result result-2">
                    <div class="company-image-container">
                        <div class="company-image"></div>
                    </div>
                    <div class="company-description">
                        <div class="company-description-header">
                            <p>אלמוג יצחקי סוכנות אלמוגים</p>
                        </div>
                        <div class="company-description-text">
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה</p>
                        </div>
                        <div class="location-rating-wrapper">
                            <div class="company-description-location">
                                <div class="location"></div>
                                <p class="location-text">פתח תקווה</p>
                            </div>
                            <div class="company-description-rating">
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-empty"></div>
                                <div class="star-empty"></div>
                            </div>
                        </div>
                    </div>
                    <div class="separator-xl"></div>
                    <div class="company-description-payment">
                        <div class="company-description-payment-text">
                            <h3><span class="currency">₪</span> 483</h3>
                            <p>פרמיה חודשית</p>
                        </div>
                        <div class="purchase-container">
                            <p>לרכישה</p>
                            <div class="shopping-cart"></div>
                        </div>
                    </div>
                </div>
                <div class="result result-3">
                    <div class="company-image-container">
                        <div class="company-image"></div>
                    </div>
                    <div class="company-description">
                        <div class="company-description-header">
                            <p>אלמוג יצחקי סוכנות אלמוגים</p>
                        </div>
                        <div class="company-description-text">
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה</p>
                        </div>
                        <div class="location-rating-wrapper">
                            <div class="company-description-location">
                                <div class="location"></div>
                                <p class="location-text">פתח תקווה</p>
                            </div>
                            <div class="company-description-rating">
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-empty"></div>
                                <div class="star-empty"></div>
                            </div>
                        </div>
                    </div>
                    <div class="separator-xl"></div>
                    <div class="company-description-payment">
                        <div class="company-description-payment-text">
                            <h3><span class="currency">₪</span> 483</h3>
                            <p>פרמיה חודשית</p>
                        </div>
                        <div class="purchase-container">
                            <p>לרכישה</p>
                            <div class="shopping-cart"></div>
                        </div>
                    </div>
                </div>
                <div class="result result-4">
                    <div class="company-image-container">
                        <div class="company-image"></div>
                    </div>
                    <div class="company-description">
                        <div class="company-description-header">
                            <p>אלמוג יצחקי סוכנות אלמוגים</p>
                        </div>
                        <div class="company-description-text">
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה</p>
                        </div>
                        <div class="location-rating-wrapper">
                            <div class="company-description-location">
                                <div class="location"></div>
                                <p class="location-text">פתח תקווה</p>
                            </div>
                            <div class="company-description-rating">
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-empty"></div>
                                <div class="star-empty"></div>
                            </div>
                        </div>
                    </div>
                    <div class="separator-xl"></div>
                    <div class="company-description-payment">
                        <div class="company-description-payment-text">
                            <h3><span class="currency">₪</span> 483</h3>
                            <p>פרמיה חודשית</p>
                        </div>
                        <div class="purchase-container">
                            <p>לרכישה</p>
                            <div class="shopping-cart"></div>
                        </div>
                    </div>
                </div>
                <div class="result result-5">
                    <div class="company-image-container">
                        <div class="company-image"></div>
                    </div>
                    <div class="company-description">
                        <div class="company-description-header">
                            <p>אלמוג יצחקי סוכנות אלמוגים</p>
                        </div>
                        <div class="company-description-text">
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה</p>
                        </div>
                        <div class="location-rating-wrapper">
                            <div class="company-description-location">
                                <div class="location"></div>
                                <p class="location-text">פתח תקווה</p>
                            </div>
                            <div class="company-description-rating">
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-empty"></div>
                                <div class="star-empty"></div>
                            </div>
                        </div>
                    </div>
                    <div class="separator-xl"></div>
                    <div class="company-description-payment">
                        <div class="company-description-payment-text">
                            <h3><span class="currency">₪</span> 483</h3>
                            <p>פרמיה חודשית</p>
                        </div>
                        <div class="purchase-container">
                            <p>לרכישה</p>
                            <div class="shopping-cart"></div>
                        </div>
                    </div>
                </div>
                <div class="result result-6">
                    <div class="company-image-container">
                        <div class="company-image"></div>
                    </div>
                    <div class="company-description">
                        <div class="company-description-header">
                            <p>אלמוג יצחקי סוכנות אלמוגים</p>
                        </div>
                        <div class="company-description-text">
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה</p>
                        </div>
                        <div class="location-rating-wrapper">
                            <div class="company-description-location">
                                <div class="location"></div>
                                <p class="location-text">פתח תקווה</p>
                            </div>
                            <div class="company-description-rating">
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-empty"></div>
                                <div class="star-empty"></div>
                            </div>
                        </div>
                    </div>
                    <div class="separator-xl"></div>
                    <div class="company-description-payment">
                        <div class="company-description-payment-text">
                            <h3><span class="currency">₪</span> 483</h3>
                            <p>פרמיה חודשית</p>
                        </div>
                        <div class="purchase-container">
                            <p>לרכישה</p>
                            <div class="shopping-cart"></div>
                        </div>
                    </div>
                </div>
                <div class="result result-7">
                    <div class="company-image-container">
                        <div class="company-image"></div>
                    </div>
                    <div class="company-description">
                        <div class="company-description-header">
                            <p>אלמוג יצחקי סוכנות אלמוגים</p>
                        </div>
                        <div class="company-description-text">
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה</p>
                        </div>
                        <div class="location-rating-wrapper">
                            <div class="company-description-location">
                                <div class="location"></div>
                                <p class="location-text">פתח תקווה</p>
                            </div>
                            <div class="company-description-rating">
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-empty"></div>
                                <div class="star-empty"></div>
                            </div>
                        </div>
                    </div>
                    <div class="separator-xl"></div>
                    <div class="company-description-payment">
                        <div class="company-description-payment-text">
                            <h3><span class="currency">₪</span> 483</h3>
                            <p>פרמיה חודשית</p>
                        </div>
                        <div class="purchase-container">
                            <p>לרכישה</p>
                            <div class="shopping-cart"></div>
                        </div>
                    </div>
                </div>
                <div class="result result-8">
                    <div class="company-image-container">
                        <div class="company-image"></div>
                    </div>
                    <div class="company-description">
                        <div class="company-description-header">
                            <p>אלמוג יצחקי סוכנות אלמוגים</p>
                        </div>
                        <div class="company-description-text">
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה</p>
                        </div>
                        <div class="location-rating-wrapper">
                            <div class="company-description-location">
                                <div class="location"></div>
                                <p class="location-text">פתח תקווה</p>
                            </div>
                            <div class="company-description-rating">
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-empty"></div>
                                <div class="star-empty"></div>
                            </div>
                        </div>
                    </div>
                    <div class="separator-xl"></div>
                    <div class="company-description-payment">
                        <div class="company-description-payment-text">
                            <h3><span class="currency">₪</span> 483</h3>
                            <p>פרמיה חודשית</p>
                        </div>
                        <div class="purchase-container">
                            <p>לרכישה</p>
                            <div class="shopping-cart"></div>
                        </div>
                    </div>
                </div>
                <div class="result result-9">
                    <div class="company-image-container">
                        <div class="company-image"></div>
                    </div>
                    <div class="company-description">
                        <div class="company-description-header">
                            <p>אלמוג יצחקי סוכנות אלמוגים</p>
                        </div>
                        <div class="company-description-text">
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה</p>
                        </div>
                        <div class="location-rating-wrapper">
                            <div class="company-description-location">
                                <div class="location"></div>
                                <p class="location-text">פתח תקווה</p>
                            </div>
                            <div class="company-description-rating">
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-empty"></div>
                                <div class="star-empty"></div>
                            </div>
                        </div>
                    </div>
                    <div class="separator-xl"></div>
                    <div class="company-description-payment">
                        <div class="company-description-payment-text">
                            <h3><span class="currency">₪</span> 483</h3>
                            <p>פרמיה חודשית</p>
                        </div>
                        <div class="purchase-container">
                            <p>לרכישה</p>
                            <div class="shopping-cart"></div>
                        </div>
                    </div>
                </div>
                <div class="result result-10">
                    <div class="company-image-container">
                        <div class="company-image"></div>
                    </div>
                    <div class="company-description">
                        <div class="company-description-header">
                            <p>אלמוג יצחקי סוכנות אלמוגים</p>
                        </div>
                        <div class="company-description-text">
                            <p>"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי
                                ההשקעה</p>
                        </div>
                        <div class="location-rating-wrapper">
                            <div class="company-description-location">
                                <div class="location"></div>
                                <p class="location-text">פתח תקווה</p>
                            </div>
                            <div class="company-description-rating">
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-full"></div>
                                <div class="star-empty"></div>
                                <div class="star-empty"></div>
                            </div>
                        </div>
                    </div>
                    <div class="separator-xl"></div>
                    <div class="company-description-payment">
                        <div class="company-description-payment-text">
                            <h3><span class="currency">₪</span> 483</h3>
                            <p>פרמיה חודשית</p>
                        </div>
                        <div class="purchase-container">
                            <p>לרכישה</p>
                            <div class="shopping-cart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <button class="pagination-box">1</button>
                <button class="pagination-box">2</button>
                <button class="pagination-box">3</button>
                <button class="pagination-box">4</button>
                <button class="pagination-box">5</button>
                <button class="pagination-box">6</button>
            </div>
        </section>
        <div class="wizard">
            <h3 class="wizard-header">אשף המחיר</h3>
            <p class="wizard-text">לקבל הצעת מחיר מותאמת אישת אנא הזן את הפרטים הבאים</p>
            <div class="wizard-selectors">
                <div class="wizard-selectors-type selector">
                    <select name="type">
                        <option>בחר את סוג הביטוח</option>
                    </select>
                    <div class="down-arrow-gray"></div>
                </div>
                <div class="wizard-selectors-type selector">

                    <select name="date">
                        <option value="">תאריך תחילת הביטוח</option>
                    </select>
                    <div class="calendar"></div>

                </div>
                <div class="wizard-selectors-type selector">
                    <select name="vehicle-type">
                        <option value="">בחר את סוג הרכב</option>
                    </select>
                    <div class="plus"></div>


                </div>
                <div class="wizard-selectors-type selector">
                    <select name="driver">
                        <option value="">מי ינהג ברכב</option>
                    </select>
                    <div class="plus"></div>


                </div>
                <div class="wizard-selectors-type selector">
                    <select name="purpose">
                        <option value="">מטרת השימוש ברכב</option>
                    </select>
                    <div class="down-arrow-gray"></div>


                </div>
                <div class="wizard-selectors-type selector">
                    <select name="residence">
                        <option value="">היכן אתה גר</option>
                    </select>
                    <div class="down-arrow-gray"></div>


                </div>
            </div>
            <div class="wizard-questions">
                <div class="question question-1">
                    <p class="question-text">האם היה לך ביטוח מקיף או רכב ליסינג ב-3 השנים האחרונות?</p>
                    <div class="answers">
                        <div class="answer"><p class="answer-text">לא</p></div>
                        <div class="answer"><p class="answer-text">כן</p></div>
                    </div>
                </div>
                <div class="question question-2">
                    <p class="question-text">האם היו לך תביעות רכוש ו/או גוף ב-3 שנים האחרונות?</p>
                    <div class="answers">
                        <div class="answer"><p class="answer-text">לא</p></div>
                        <div class="answer"><p class="answer-text">כן</p></div>

                    </div>
                </div>
                <div class="question question-3">
                    <p class="question-text">האם לבן הזוג יש רכב נוסף?</p>
                    <div class="answers">
                        <div class="answer"><p class="answer-text">לא</p></div>
                        <div class="answer"><p class="answer-text">כן</p></div>
                    </div>
                </div>
                <div class="question question-4">
                    <p class="question-text">האם יש לך עבר פלילי?</p>
                    <div class="answers">
                        <div class="answer"><p class="answer-text">לא</p></div>
                        <div class="answer"><p class="answer-text">כן</p></div>
                    </div>
                </div>
                <div class="question question-5">
                    <p class="question-text">האם שללו לך את הרישיון בעבר?</p>
                    <div class="answers">
                        <div class="answer"><p class="answer-text">לא</p></div>
                        <div class="answer"><p class="answer-text">כן</p></div>
                    </div>
                </div>
            </div>
            <div class="banner"></div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <div class="contact">
                <p class="contact-header">השאר מעודכן</p>
                <p class="contact-text">הירשם לרשימת התפוצה שלנו ואנו נדאג לעדכן אותך בכל המידע החשוב.</p>
                <input type="text" class="contact-text-input" name="email" placeholder='כתובת הדוא"ל שלך'>
            </div>
            <div class="main">
                <div class="main-social">
                    <p class="main-social-header">עקבו אחרינו</p>

                    <div class="main-social-facebook">
                        <div class="main-social-facebook-text">פייסבוק</div>
                        <img src="../../src/images/sprites/icons/sp-facebook.png" class="main-social-facebook-logo"/>
                    </div>

                    <div class="main-social-twitter">
                        <div class="main-social-twitter-text">טוויטר</div>
                        <img src="../../src/images/sprites/icons/sp-twitter.png" class="main-social-twitter-logo">
                    </div>

                    <div class="main-social-google">
                        <div class="main-social-google-text">גוגל פלוס</div>
                        <img src="../../src/images/sprites/icons/sp-google.png" class="main-social-google-logo">
                    </div>

                </div>
                <div class="main-details">
                    <p class="main-details-header">פרטים חשובים</p>
                    <span class="main-details-header-terms">תנאי שימוש</span>
                    <span class="main-details-header-policy">מדיניות פרטיות</span>
                    <span class="main-details-header-contact">צור קשר</span>
                </div>
                <div class="main-agents">
                    <p class="main-agents-header">סוכנים</p>
                    <p class="main-agents-signup">הרשמה למערכת</p>
                    <p class="main-agents-contact">צור קשר</p>
                    <div class="main-agents-login">
                        <div class="main-agents-login-text">כניסת סוכנים</div>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-right-logo compie-logo">
                    <p class="footer-right-logo-text">Compie</p>
                </div>
                <div class="footer-right-text">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג ושבעגט</div>
            </div>
        </div>
        <div class="footer-copyright"></div>
    </footer>
</div>
</html>