@import '~normalize.css/normalize';
@import "base/config";
// Utils (helpers, functions, mixins and etc..)
@import "utils/typography";
@import "utils/text";
@import "utils/retina";
@import "utils/visually-hidden";
@import "utils/shapes";
@import "utils/elements-middle";
@import "utils/sprites";
@import "utils/font-face";
@import "utils/buttons";
@import "utils/tooltips";
@import "utils/global";
// Start css (html, body, containers, font and etc..)
@import "base/fonts";
@import "base/global";
@import "base/buttons";
@import "base/tabs";
//Components
@import "components/header";
@import "components/logo";
@import "components/user-zone-selector";
@import "components/arrow";
@import 'components/sofa';
@import "components/car";
@import "components/how-it-works";
@import "components/agent";
@import "components/click";
@import "components/clipboard";
@import "components/coins";
@import "components/arrow-left";
@import "components/results";
@import "components/search-results";
@import "components/search-filter";
@import "components/separators";


.content {
  position: absolute;
  background: #ffffff;
  border-radius:10px;
  @include left(410px);
  top: -78px;
  width: 1100px;
  text-align: center;
}
