// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-agent-name: 'sp-agent';
$sp-agent-x: 155px;
$sp-agent-y: 48px;
$sp-agent-offset-x: -155px;
$sp-agent-offset-y: -48px;
$sp-agent-width: 26px;
$sp-agent-height: 30px;
$sp-agent-total-width: 192px;
$sp-agent-total-height: 174px;
$sp-agent-image: '../images/generated/sprites.png';
$sp-agent: (155px, 48px, -155px, -48px, 26px, 30px, 192px, 174px, '../images/generated/sprites.png', 'sp-agent', );
$sp-arrow-left-name: 'sp-arrow-left';
$sp-arrow-left-x: 181px;
$sp-arrow-left-y: 48px;
$sp-arrow-left-offset-x: -181px;
$sp-arrow-left-offset-y: -48px;
$sp-arrow-left-width: 7px;
$sp-arrow-left-height: 13px;
$sp-arrow-left-total-width: 192px;
$sp-arrow-left-total-height: 174px;
$sp-arrow-left-image: '../images/generated/sprites.png';
$sp-arrow-left: (181px, 48px, -181px, -48px, 7px, 13px, 192px, 174px, '../images/generated/sprites.png', 'sp-arrow-left', );
$sp-arrow-name: 'sp-arrow';
$sp-arrow-x: 181px;
$sp-arrow-y: 61px;
$sp-arrow-offset-x: -181px;
$sp-arrow-offset-y: -61px;
$sp-arrow-width: 10px;
$sp-arrow-height: 6px;
$sp-arrow-total-width: 192px;
$sp-arrow-total-height: 174px;
$sp-arrow-image: '../images/generated/sprites.png';
$sp-arrow: (181px, 61px, -181px, -61px, 10px, 6px, 192px, 174px, '../images/generated/sprites.png', 'sp-arrow', );
$sp-car-name: 'sp-car';
$sp-car-x: 128px;
$sp-car-y: 0px;
$sp-car-offset-x: -128px;
$sp-car-offset-y: 0px;
$sp-car-width: 64px;
$sp-car-height: 48px;
$sp-car-total-width: 192px;
$sp-car-total-height: 174px;
$sp-car-image: '../images/generated/sprites.png';
$sp-car: (128px, 0px, -128px, 0px, 64px, 48px, 192px, 174px, '../images/generated/sprites.png', 'sp-car', );
$sp-circle-name: 'sp-circle';
$sp-circle-x: 128px;
$sp-circle-y: 79px;
$sp-circle-offset-x: -128px;
$sp-circle-offset-y: -79px;
$sp-circle-width: 27px;
$sp-circle-height: 28px;
$sp-circle-total-width: 192px;
$sp-circle-total-height: 174px;
$sp-circle-image: '../images/generated/sprites.png';
$sp-circle: (128px, 79px, -128px, -79px, 27px, 28px, 192px, 174px, '../images/generated/sprites.png', 'sp-circle', );
$sp-click-name: 'sp-click';
$sp-click-x: 23px;
$sp-click-y: 128px;
$sp-click-offset-x: -23px;
$sp-click-offset-y: -128px;
$sp-click-width: 19px;
$sp-click-height: 30px;
$sp-click-total-width: 192px;
$sp-click-total-height: 174px;
$sp-click-image: '../images/generated/sprites.png';
$sp-click: (23px, 128px, -23px, -128px, 19px, 30px, 192px, 174px, '../images/generated/sprites.png', 'sp-click', );
$sp-clipboard-name: 'sp-clipboard';
$sp-clipboard-x: 0px;
$sp-clipboard-y: 128px;
$sp-clipboard-offset-x: 0px;
$sp-clipboard-offset-y: -128px;
$sp-clipboard-width: 23px;
$sp-clipboard-height: 30px;
$sp-clipboard-total-width: 192px;
$sp-clipboard-total-height: 174px;
$sp-clipboard-image: '../images/generated/sprites.png';
$sp-clipboard: (0px, 128px, 0px, -128px, 23px, 30px, 192px, 174px, '../images/generated/sprites.png', 'sp-clipboard', );
$sp-coins-name: 'sp-coins';
$sp-coins-x: 128px;
$sp-coins-y: 48px;
$sp-coins-offset-x: -128px;
$sp-coins-offset-y: -48px;
$sp-coins-width: 27px;
$sp-coins-height: 31px;
$sp-coins-total-width: 192px;
$sp-coins-total-height: 174px;
$sp-coins-image: '../images/generated/sprites.png';
$sp-coins: (128px, 48px, -128px, -48px, 27px, 31px, 192px, 174px, '../images/generated/sprites.png', 'sp-coins', );
$sp-envelope-name: 'sp-envelope';
$sp-envelope-x: 59px;
$sp-envelope-y: 128px;
$sp-envelope-offset-x: -59px;
$sp-envelope-offset-y: -128px;
$sp-envelope-width: 19px;
$sp-envelope-height: 13px;
$sp-envelope-total-width: 192px;
$sp-envelope-total-height: 174px;
$sp-envelope-image: '../images/generated/sprites.png';
$sp-envelope: (59px, 128px, -59px, -128px, 19px, 13px, 192px, 174px, '../images/generated/sprites.png', 'sp-envelope', );
$sp-glass-name: 'sp-glass';
$sp-glass-x: 42px;
$sp-glass-y: 128px;
$sp-glass-offset-x: -42px;
$sp-glass-offset-y: -128px;
$sp-glass-width: 17px;
$sp-glass-height: 17px;
$sp-glass-total-width: 192px;
$sp-glass-total-height: 174px;
$sp-glass-image: '../images/generated/sprites.png';
$sp-glass: (42px, 128px, -42px, -128px, 17px, 17px, 192px, 174px, '../images/generated/sprites.png', 'sp-glass', );
$sp-line-name: 'sp-line';
$sp-line-x: 188px;
$sp-line-y: 48px;
$sp-line-offset-x: -188px;
$sp-line-offset-y: -48px;
$sp-line-width: 2px;
$sp-line-height: 13px;
$sp-line-total-width: 192px;
$sp-line-total-height: 174px;
$sp-line-image: '../images/generated/sprites.png';
$sp-line: (188px, 48px, -188px, -48px, 2px, 13px, 192px, 174px, '../images/generated/sprites.png', 'sp-line', );
$sp-sofa-bottom-name: 'sp-sofa-bottom';
$sp-sofa-bottom-x: 128px;
$sp-sofa-bottom-y: 107px;
$sp-sofa-bottom-offset-x: -128px;
$sp-sofa-bottom-offset-y: -107px;
$sp-sofa-bottom-width: 25px;
$sp-sofa-bottom-height: 12px;
$sp-sofa-bottom-total-width: 192px;
$sp-sofa-bottom-total-height: 174px;
$sp-sofa-bottom-image: '../images/generated/sprites.png';
$sp-sofa-bottom: (128px, 107px, -128px, -107px, 25px, 12px, 192px, 174px, '../images/generated/sprites.png', 'sp-sofa-bottom', );
$sp-sofa-name: 'sp-sofa';
$sp-sofa-x: 155px;
$sp-sofa-y: 79px;
$sp-sofa-offset-x: -155px;
$sp-sofa-offset-y: -79px;
$sp-sofa-width: 26px;
$sp-sofa-height: 26px;
$sp-sofa-total-width: 192px;
$sp-sofa-total-height: 174px;
$sp-sofa-image: '../images/generated/sprites.png';
$sp-sofa: (155px, 79px, -155px, -79px, 26px, 26px, 192px, 174px, '../images/generated/sprites.png', 'sp-sofa', );
$sp-user-name: 'sp-user';
$sp-user-x: 0px;
$sp-user-y: 158px;
$sp-user-offset-x: 0px;
$sp-user-offset-y: -158px;
$sp-user-width: 14px;
$sp-user-height: 16px;
$sp-user-total-width: 192px;
$sp-user-total-height: 174px;
$sp-user-image: '../images/generated/sprites.png';
$sp-user: (0px, 158px, 0px, -158px, 14px, 16px, 192px, 174px, '../images/generated/sprites.png', 'sp-user', );
$sp-www-name: 'sp-www';
$sp-www-x: 0px;
$sp-www-y: 0px;
$sp-www-offset-x: 0px;
$sp-www-offset-y: 0px;
$sp-www-width: 128px;
$sp-www-height: 128px;
$sp-www-total-width: 192px;
$sp-www-total-height: 174px;
$sp-www-image: '../images/generated/sprites.png';
$sp-www: (0px, 0px, 0px, 0px, 128px, 128px, 192px, 174px, '../images/generated/sprites.png', 'sp-www', );
$retina-sp-agent-name: 'retina_sp-agent';
$retina-sp-agent-x: 155px;
$retina-sp-agent-y: 48px;
$retina-sp-agent-offset-x: -155px;
$retina-sp-agent-offset-y: -48px;
$retina-sp-agent-width: 26px;
$retina-sp-agent-height: 30px;
$retina-sp-agent-total-width: 192px;
$retina-sp-agent-total-height: 174px;
$retina-sp-agent-image: '../images/generated/sprites@2x.png';
$retina-sp-agent: (155px, 48px, -155px, -48px, 26px, 30px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-agent', );
$retina-sp-arrow-left-name: 'retina_sp-arrow-left';
$retina-sp-arrow-left-x: 181px;
$retina-sp-arrow-left-y: 48px;
$retina-sp-arrow-left-offset-x: -181px;
$retina-sp-arrow-left-offset-y: -48px;
$retina-sp-arrow-left-width: 7px;
$retina-sp-arrow-left-height: 13px;
$retina-sp-arrow-left-total-width: 192px;
$retina-sp-arrow-left-total-height: 174px;
$retina-sp-arrow-left-image: '../images/generated/sprites@2x.png';
$retina-sp-arrow-left: (181px, 48px, -181px, -48px, 7px, 13px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-arrow-left', );
$retina-sp-arrow-name: 'retina_sp-arrow';
$retina-sp-arrow-x: 181px;
$retina-sp-arrow-y: 61px;
$retina-sp-arrow-offset-x: -181px;
$retina-sp-arrow-offset-y: -61px;
$retina-sp-arrow-width: 10px;
$retina-sp-arrow-height: 6px;
$retina-sp-arrow-total-width: 192px;
$retina-sp-arrow-total-height: 174px;
$retina-sp-arrow-image: '../images/generated/sprites@2x.png';
$retina-sp-arrow: (181px, 61px, -181px, -61px, 10px, 6px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-arrow', );
$retina-sp-car-name: 'retina_sp-car';
$retina-sp-car-x: 128px;
$retina-sp-car-y: 0px;
$retina-sp-car-offset-x: -128px;
$retina-sp-car-offset-y: 0px;
$retina-sp-car-width: 64px;
$retina-sp-car-height: 48px;
$retina-sp-car-total-width: 192px;
$retina-sp-car-total-height: 174px;
$retina-sp-car-image: '../images/generated/sprites@2x.png';
$retina-sp-car: (128px, 0px, -128px, 0px, 64px, 48px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-car', );
$retina-sp-circle-name: 'retina_sp-circle';
$retina-sp-circle-x: 128px;
$retina-sp-circle-y: 79px;
$retina-sp-circle-offset-x: -128px;
$retina-sp-circle-offset-y: -79px;
$retina-sp-circle-width: 27px;
$retina-sp-circle-height: 28px;
$retina-sp-circle-total-width: 192px;
$retina-sp-circle-total-height: 174px;
$retina-sp-circle-image: '../images/generated/sprites@2x.png';
$retina-sp-circle: (128px, 79px, -128px, -79px, 27px, 28px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-circle', );
$retina-sp-click-name: 'retina_sp-click';
$retina-sp-click-x: 23px;
$retina-sp-click-y: 128px;
$retina-sp-click-offset-x: -23px;
$retina-sp-click-offset-y: -128px;
$retina-sp-click-width: 19px;
$retina-sp-click-height: 30px;
$retina-sp-click-total-width: 192px;
$retina-sp-click-total-height: 174px;
$retina-sp-click-image: '../images/generated/sprites@2x.png';
$retina-sp-click: (23px, 128px, -23px, -128px, 19px, 30px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-click', );
$retina-sp-clipboard-name: 'retina_sp-clipboard';
$retina-sp-clipboard-x: 0px;
$retina-sp-clipboard-y: 128px;
$retina-sp-clipboard-offset-x: 0px;
$retina-sp-clipboard-offset-y: -128px;
$retina-sp-clipboard-width: 23px;
$retina-sp-clipboard-height: 30px;
$retina-sp-clipboard-total-width: 192px;
$retina-sp-clipboard-total-height: 174px;
$retina-sp-clipboard-image: '../images/generated/sprites@2x.png';
$retina-sp-clipboard: (0px, 128px, 0px, -128px, 23px, 30px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-clipboard', );
$retina-sp-coins-name: 'retina_sp-coins';
$retina-sp-coins-x: 128px;
$retina-sp-coins-y: 48px;
$retina-sp-coins-offset-x: -128px;
$retina-sp-coins-offset-y: -48px;
$retina-sp-coins-width: 27px;
$retina-sp-coins-height: 31px;
$retina-sp-coins-total-width: 192px;
$retina-sp-coins-total-height: 174px;
$retina-sp-coins-image: '../images/generated/sprites@2x.png';
$retina-sp-coins: (128px, 48px, -128px, -48px, 27px, 31px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-coins', );
$retina-sp-envelope-name: 'retina_sp-envelope';
$retina-sp-envelope-x: 59px;
$retina-sp-envelope-y: 128px;
$retina-sp-envelope-offset-x: -59px;
$retina-sp-envelope-offset-y: -128px;
$retina-sp-envelope-width: 19px;
$retina-sp-envelope-height: 13px;
$retina-sp-envelope-total-width: 192px;
$retina-sp-envelope-total-height: 174px;
$retina-sp-envelope-image: '../images/generated/sprites@2x.png';
$retina-sp-envelope: (59px, 128px, -59px, -128px, 19px, 13px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-envelope', );
$retina-sp-glass-name: 'retina_sp-glass';
$retina-sp-glass-x: 42px;
$retina-sp-glass-y: 128px;
$retina-sp-glass-offset-x: -42px;
$retina-sp-glass-offset-y: -128px;
$retina-sp-glass-width: 17px;
$retina-sp-glass-height: 17px;
$retina-sp-glass-total-width: 192px;
$retina-sp-glass-total-height: 174px;
$retina-sp-glass-image: '../images/generated/sprites@2x.png';
$retina-sp-glass: (42px, 128px, -42px, -128px, 17px, 17px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-glass', );
$retina-sp-line-name: 'retina_sp-line';
$retina-sp-line-x: 188px;
$retina-sp-line-y: 48px;
$retina-sp-line-offset-x: -188px;
$retina-sp-line-offset-y: -48px;
$retina-sp-line-width: 2px;
$retina-sp-line-height: 13px;
$retina-sp-line-total-width: 192px;
$retina-sp-line-total-height: 174px;
$retina-sp-line-image: '../images/generated/sprites@2x.png';
$retina-sp-line: (188px, 48px, -188px, -48px, 2px, 13px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-line', );
$retina-sp-sofa-bottom-name: 'retina_sp-sofa-bottom';
$retina-sp-sofa-bottom-x: 128px;
$retina-sp-sofa-bottom-y: 107px;
$retina-sp-sofa-bottom-offset-x: -128px;
$retina-sp-sofa-bottom-offset-y: -107px;
$retina-sp-sofa-bottom-width: 25px;
$retina-sp-sofa-bottom-height: 12px;
$retina-sp-sofa-bottom-total-width: 192px;
$retina-sp-sofa-bottom-total-height: 174px;
$retina-sp-sofa-bottom-image: '../images/generated/sprites@2x.png';
$retina-sp-sofa-bottom: (128px, 107px, -128px, -107px, 25px, 12px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-sofa-bottom', );
$retina-sp-sofa-name: 'retina_sp-sofa';
$retina-sp-sofa-x: 155px;
$retina-sp-sofa-y: 79px;
$retina-sp-sofa-offset-x: -155px;
$retina-sp-sofa-offset-y: -79px;
$retina-sp-sofa-width: 26px;
$retina-sp-sofa-height: 26px;
$retina-sp-sofa-total-width: 192px;
$retina-sp-sofa-total-height: 174px;
$retina-sp-sofa-image: '../images/generated/sprites@2x.png';
$retina-sp-sofa: (155px, 79px, -155px, -79px, 26px, 26px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-sofa', );
$retina-sp-user-name: 'retina_sp-user';
$retina-sp-user-x: 0px;
$retina-sp-user-y: 158px;
$retina-sp-user-offset-x: 0px;
$retina-sp-user-offset-y: -158px;
$retina-sp-user-width: 14px;
$retina-sp-user-height: 16px;
$retina-sp-user-total-width: 192px;
$retina-sp-user-total-height: 174px;
$retina-sp-user-image: '../images/generated/sprites@2x.png';
$retina-sp-user: (0px, 158px, 0px, -158px, 14px, 16px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-user', );
$retina-sp-www-name: 'retina_sp-www';
$retina-sp-www-x: 0px;
$retina-sp-www-y: 0px;
$retina-sp-www-offset-x: 0px;
$retina-sp-www-offset-y: 0px;
$retina-sp-www-width: 128px;
$retina-sp-www-height: 128px;
$retina-sp-www-total-width: 192px;
$retina-sp-www-total-height: 174px;
$retina-sp-www-image: '../images/generated/sprites@2x.png';
$retina-sp-www: (0px, 0px, 0px, 0px, 128px, 128px, 192px, 174px, '../images/generated/sprites@2x.png', 'retina_sp-www', );
$spritesheet-width: 192px;
$spritesheet-height: 174px;
$spritesheet-image: '../images/generated/sprites.png';
$spritesheet-sprites: ($sp-agent, $sp-arrow-left, $sp-arrow, $sp-car, $sp-circle, $sp-click, $sp-clipboard, $sp-coins, $sp-envelope, $sp-glass, $sp-line, $sp-sofa-bottom, $sp-sofa, $sp-user, $sp-www, );
$spritesheet: (192px, 174px, '../images/generated/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 192px;
$retina-spritesheet-height: 174px;
$retina-spritesheet-image: '../images/generated/sprites@2x.png';
$retina-spritesheet-sprites: ($retina-sp-agent, $retina-sp-arrow-left, $retina-sp-arrow, $retina-sp-car, $retina-sp-circle, $retina-sp-click, $retina-sp-clipboard, $retina-sp-coins, $retina-sp-envelope, $retina-sp-glass, $retina-sp-line, $retina-sp-sofa-bottom, $retina-sp-sofa, $retina-sp-user, $retina-sp-www, );
$retina-spritesheet: (192px, 174px, '../images/generated/sprites@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-agent-group-name: 'sp-agent';
$sp-agent-group: ('sp-agent', $sp-agent, $retina-sp-agent, );
$sp-arrow-left-group-name: 'sp-arrow-left';
$sp-arrow-left-group: ('sp-arrow-left', $sp-arrow-left, $retina-sp-arrow-left, );
$sp-arrow-group-name: 'sp-arrow';
$sp-arrow-group: ('sp-arrow', $sp-arrow, $retina-sp-arrow, );
$sp-car-group-name: 'sp-car';
$sp-car-group: ('sp-car', $sp-car, $retina-sp-car, );
$sp-circle-group-name: 'sp-circle';
$sp-circle-group: ('sp-circle', $sp-circle, $retina-sp-circle, );
$sp-click-group-name: 'sp-click';
$sp-click-group: ('sp-click', $sp-click, $retina-sp-click, );
$sp-clipboard-group-name: 'sp-clipboard';
$sp-clipboard-group: ('sp-clipboard', $sp-clipboard, $retina-sp-clipboard, );
$sp-coins-group-name: 'sp-coins';
$sp-coins-group: ('sp-coins', $sp-coins, $retina-sp-coins, );
$sp-envelope-group-name: 'sp-envelope';
$sp-envelope-group: ('sp-envelope', $sp-envelope, $retina-sp-envelope, );
$sp-glass-group-name: 'sp-glass';
$sp-glass-group: ('sp-glass', $sp-glass, $retina-sp-glass, );
$sp-line-group-name: 'sp-line';
$sp-line-group: ('sp-line', $sp-line, $retina-sp-line, );
$sp-sofa-bottom-group-name: 'sp-sofa-bottom';
$sp-sofa-bottom-group: ('sp-sofa-bottom', $sp-sofa-bottom, $retina-sp-sofa-bottom, );
$sp-sofa-group-name: 'sp-sofa';
$sp-sofa-group: ('sp-sofa', $sp-sofa, $retina-sp-sofa, );
$sp-user-group-name: 'sp-user';
$sp-user-group: ('sp-user', $sp-user, $retina-sp-user, );
$sp-www-group-name: 'sp-www';
$sp-www-group: ('sp-www', $sp-www, $retina-sp-www, );
$retina-groups: ($sp-agent-group, $sp-arrow-left-group, $sp-arrow-group, $sp-car-group, $sp-circle-group, $sp-click-group, $sp-clipboard-group, $sp-coins-group, $sp-envelope-group, $sp-glass-group, $sp-line-group, $sp-sofa-bottom-group, $sp-sofa-group, $sp-user-group, $sp-www-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
