// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-agent-name: 'sp-agent';
$sp-agent-x: 219px;
$sp-agent-y: 35px;
$sp-agent-offset-x: -219px;
$sp-agent-offset-y: -35px;
$sp-agent-width: 26px;
$sp-agent-height: 30px;
$sp-agent-total-width: 271px;
$sp-agent-total-height: 158px;
$sp-agent-image: '../images/generated/sprites.png';
$sp-agent: (219px, 35px, -219px, -35px, 26px, 30px, 271px, 158px, '../images/generated/sprites.png', 'sp-agent', );
$sp-arrow-left-name: 'sp-arrow-left';
$sp-arrow-left-x: 257px;
$sp-arrow-left-y: 83px;
$sp-arrow-left-offset-x: -257px;
$sp-arrow-left-offset-y: -83px;
$sp-arrow-left-width: 7px;
$sp-arrow-left-height: 13px;
$sp-arrow-left-total-width: 271px;
$sp-arrow-left-total-height: 158px;
$sp-arrow-left-image: '../images/generated/sprites.png';
$sp-arrow-left: (257px, 83px, -257px, -83px, 7px, 13px, 271px, 158px, '../images/generated/sprites.png', 'sp-arrow-left', );
$sp-arrow-name: 'sp-arrow';
$sp-arrow-x: 236px;
$sp-arrow-y: 66px;
$sp-arrow-offset-x: -236px;
$sp-arrow-offset-y: -66px;
$sp-arrow-width: 10px;
$sp-arrow-height: 6px;
$sp-arrow-total-width: 271px;
$sp-arrow-total-height: 158px;
$sp-arrow-image: '../images/generated/sprites.png';
$sp-arrow: (236px, 66px, -236px, -66px, 10px, 6px, 271px, 158px, '../images/generated/sprites.png', 'sp-arrow', );
$sp-car-name: 'sp-car';
$sp-car-x: 128px;
$sp-car-y: 35px;
$sp-car-offset-x: -128px;
$sp-car-offset-y: -35px;
$sp-car-width: 64px;
$sp-car-height: 48px;
$sp-car-total-width: 271px;
$sp-car-total-height: 158px;
$sp-car-image: '../images/generated/sprites.png';
$sp-car: (128px, 35px, -128px, -35px, 64px, 48px, 271px, 158px, '../images/generated/sprites.png', 'sp-car', );
$sp-circle-name: 'sp-circle';
$sp-circle-x: 128px;
$sp-circle-y: 83px;
$sp-circle-offset-x: -128px;
$sp-circle-offset-y: -83px;
$sp-circle-width: 27px;
$sp-circle-height: 28px;
$sp-circle-total-width: 271px;
$sp-circle-total-height: 158px;
$sp-circle-image: '../images/generated/sprites.png';
$sp-circle: (128px, 83px, -128px, -83px, 27px, 28px, 271px, 158px, '../images/generated/sprites.png', 'sp-circle', );
$sp-click-name: 'sp-click';
$sp-click-x: 0px;
$sp-click-y: 128px;
$sp-click-offset-x: 0px;
$sp-click-offset-y: -128px;
$sp-click-width: 19px;
$sp-click-height: 30px;
$sp-click-total-width: 271px;
$sp-click-total-height: 158px;
$sp-click-image: '../images/generated/sprites.png';
$sp-click: (0px, 128px, 0px, -128px, 19px, 30px, 271px, 158px, '../images/generated/sprites.png', 'sp-click', );
$sp-clipboard-name: 'sp-clipboard';
$sp-clipboard-x: 245px;
$sp-clipboard-y: 35px;
$sp-clipboard-offset-x: -245px;
$sp-clipboard-offset-y: -35px;
$sp-clipboard-width: 23px;
$sp-clipboard-height: 30px;
$sp-clipboard-total-width: 271px;
$sp-clipboard-total-height: 158px;
$sp-clipboard-image: '../images/generated/sprites.png';
$sp-clipboard: (245px, 35px, -245px, -35px, 23px, 30px, 271px, 158px, '../images/generated/sprites.png', 'sp-clipboard', );
$sp-coins-name: 'sp-coins';
$sp-coins-x: 192px;
$sp-coins-y: 35px;
$sp-coins-offset-x: -192px;
$sp-coins-offset-y: -35px;
$sp-coins-width: 27px;
$sp-coins-height: 31px;
$sp-coins-total-width: 271px;
$sp-coins-total-height: 158px;
$sp-coins-image: '../images/generated/sprites.png';
$sp-coins: (192px, 35px, -192px, -35px, 27px, 31px, 271px, 158px, '../images/generated/sprites.png', 'sp-coins', );
$sp-company-logo-name: 'sp-company-logo';
$sp-company-logo-x: 128px;
$sp-company-logo-y: 0px;
$sp-company-logo-offset-x: -128px;
$sp-company-logo-offset-y: 0px;
$sp-company-logo-width: 143px;
$sp-company-logo-height: 35px;
$sp-company-logo-total-width: 271px;
$sp-company-logo-total-height: 158px;
$sp-company-logo-image: '../images/generated/sprites.png';
$sp-company-logo: (128px, 0px, -128px, 0px, 143px, 35px, 271px, 158px, '../images/generated/sprites.png', 'sp-company-logo', );
$sp-envelope-name: 'sp-envelope';
$sp-envelope-x: 238px;
$sp-envelope-y: 83px;
$sp-envelope-offset-x: -238px;
$sp-envelope-offset-y: -83px;
$sp-envelope-width: 19px;
$sp-envelope-height: 13px;
$sp-envelope-total-width: 271px;
$sp-envelope-total-height: 158px;
$sp-envelope-image: '../images/generated/sprites.png';
$sp-envelope: (238px, 83px, -238px, -83px, 19px, 13px, 271px, 158px, '../images/generated/sprites.png', 'sp-envelope', );
$sp-glass-name: 'sp-glass';
$sp-glass-x: 221px;
$sp-glass-y: 83px;
$sp-glass-offset-x: -221px;
$sp-glass-offset-y: -83px;
$sp-glass-width: 17px;
$sp-glass-height: 17px;
$sp-glass-total-width: 271px;
$sp-glass-total-height: 158px;
$sp-glass-image: '../images/generated/sprites.png';
$sp-glass: (221px, 83px, -221px, -83px, 17px, 17px, 271px, 158px, '../images/generated/sprites.png', 'sp-glass', );
$sp-line-name: 'sp-line';
$sp-line-x: 264px;
$sp-line-y: 83px;
$sp-line-offset-x: -264px;
$sp-line-offset-y: -83px;
$sp-line-width: 2px;
$sp-line-height: 13px;
$sp-line-total-width: 271px;
$sp-line-total-height: 158px;
$sp-line-image: '../images/generated/sprites.png';
$sp-line: (264px, 83px, -264px, -83px, 2px, 13px, 271px, 158px, '../images/generated/sprites.png', 'sp-line', );
$sp-location-name: 'sp-location';
$sp-location-x: 19px;
$sp-location-y: 128px;
$sp-location-offset-x: -19px;
$sp-location-offset-y: -128px;
$sp-location-width: 13px;
$sp-location-height: 17px;
$sp-location-total-width: 271px;
$sp-location-total-height: 158px;
$sp-location-image: '../images/generated/sprites.png';
$sp-location: (19px, 128px, -19px, -128px, 13px, 17px, 271px, 158px, '../images/generated/sprites.png', 'sp-location', );
$sp-separator-long-name: 'sp-separator-long';
$sp-separator-long-x: 268px;
$sp-separator-long-y: 35px;
$sp-separator-long-offset-x: -268px;
$sp-separator-long-offset-y: -35px;
$sp-separator-long-width: 2px;
$sp-separator-long-height: 20px;
$sp-separator-long-total-width: 271px;
$sp-separator-long-total-height: 158px;
$sp-separator-long-image: '../images/generated/sprites.png';
$sp-separator-long: (268px, 35px, -268px, -35px, 2px, 20px, 271px, 158px, '../images/generated/sprites.png', 'sp-separator-long', );
$sp-separator-short-name: 'sp-separator-short';
$sp-separator-short-x: 270px;
$sp-separator-short-y: 35px;
$sp-separator-short-offset-x: -270px;
$sp-separator-short-offset-y: -35px;
$sp-separator-short-width: 1px;
$sp-separator-short-height: 10px;
$sp-separator-short-total-width: 271px;
$sp-separator-short-total-height: 158px;
$sp-separator-short-image: '../images/generated/sprites.png';
$sp-separator-short: (270px, 35px, -270px, -35px, 1px, 10px, 271px, 158px, '../images/generated/sprites.png', 'sp-separator-short', );
$sp-shopping-cart-name: 'sp-shopping-cart';
$sp-shopping-cart-x: 192px;
$sp-shopping-cart-y: 66px;
$sp-shopping-cart-offset-x: -192px;
$sp-shopping-cart-offset-y: -66px;
$sp-shopping-cart-width: 19px;
$sp-shopping-cart-height: 17px;
$sp-shopping-cart-total-width: 271px;
$sp-shopping-cart-total-height: 158px;
$sp-shopping-cart-image: '../images/generated/sprites.png';
$sp-shopping-cart: (192px, 66px, -192px, -66px, 19px, 17px, 271px, 158px, '../images/generated/sprites.png', 'sp-shopping-cart', );
$sp-sofa-bottom-name: 'sp-sofa-bottom';
$sp-sofa-bottom-x: 211px;
$sp-sofa-bottom-y: 66px;
$sp-sofa-bottom-offset-x: -211px;
$sp-sofa-bottom-offset-y: -66px;
$sp-sofa-bottom-width: 25px;
$sp-sofa-bottom-height: 12px;
$sp-sofa-bottom-total-width: 271px;
$sp-sofa-bottom-total-height: 158px;
$sp-sofa-bottom-image: '../images/generated/sprites.png';
$sp-sofa-bottom: (211px, 66px, -211px, -66px, 25px, 12px, 271px, 158px, '../images/generated/sprites.png', 'sp-sofa-bottom', );
$sp-sofa-name: 'sp-sofa';
$sp-sofa-x: 155px;
$sp-sofa-y: 83px;
$sp-sofa-offset-x: -155px;
$sp-sofa-offset-y: -83px;
$sp-sofa-width: 26px;
$sp-sofa-height: 26px;
$sp-sofa-total-width: 271px;
$sp-sofa-total-height: 158px;
$sp-sofa-image: '../images/generated/sprites.png';
$sp-sofa: (155px, 83px, -155px, -83px, 26px, 26px, 271px, 158px, '../images/generated/sprites.png', 'sp-sofa', );
$sp-star-empty-name: 'sp-star-empty';
$sp-star-empty-x: 181px;
$sp-star-empty-y: 83px;
$sp-star-empty-offset-x: -181px;
$sp-star-empty-offset-y: -83px;
$sp-star-empty-width: 20px;
$sp-star-empty-height: 19px;
$sp-star-empty-total-width: 271px;
$sp-star-empty-total-height: 158px;
$sp-star-empty-image: '../images/generated/sprites.png';
$sp-star-empty: (181px, 83px, -181px, -83px, 20px, 19px, 271px, 158px, '../images/generated/sprites.png', 'sp-star-empty', );
$sp-star-full-name: 'sp-star-full';
$sp-star-full-x: 201px;
$sp-star-full-y: 83px;
$sp-star-full-offset-x: -201px;
$sp-star-full-offset-y: -83px;
$sp-star-full-width: 20px;
$sp-star-full-height: 19px;
$sp-star-full-total-width: 271px;
$sp-star-full-total-height: 158px;
$sp-star-full-image: '../images/generated/sprites.png';
$sp-star-full: (201px, 83px, -201px, -83px, 20px, 19px, 271px, 158px, '../images/generated/sprites.png', 'sp-star-full', );
$sp-user-name: 'sp-user';
$sp-user-x: 128px;
$sp-user-y: 111px;
$sp-user-offset-x: -128px;
$sp-user-offset-y: -111px;
$sp-user-width: 14px;
$sp-user-height: 16px;
$sp-user-total-width: 271px;
$sp-user-total-height: 158px;
$sp-user-image: '../images/generated/sprites.png';
$sp-user: (128px, 111px, -128px, -111px, 14px, 16px, 271px, 158px, '../images/generated/sprites.png', 'sp-user', );
$sp-www-name: 'sp-www';
$sp-www-x: 0px;
$sp-www-y: 0px;
$sp-www-offset-x: 0px;
$sp-www-offset-y: 0px;
$sp-www-width: 128px;
$sp-www-height: 128px;
$sp-www-total-width: 271px;
$sp-www-total-height: 158px;
$sp-www-image: '../images/generated/sprites.png';
$sp-www: (0px, 0px, 0px, 0px, 128px, 128px, 271px, 158px, '../images/generated/sprites.png', 'sp-www', );
$retina-sp-agent-name: 'retina_sp-agent';
$retina-sp-agent-x: 219px;
$retina-sp-agent-y: 35px;
$retina-sp-agent-offset-x: -219px;
$retina-sp-agent-offset-y: -35px;
$retina-sp-agent-width: 26px;
$retina-sp-agent-height: 30px;
$retina-sp-agent-total-width: 271px;
$retina-sp-agent-total-height: 158px;
$retina-sp-agent-image: '../images/generated/sprites@2x.png';
$retina-sp-agent: (219px, 35px, -219px, -35px, 26px, 30px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-agent', );
$retina-sp-arrow-left-name: 'retina_sp-arrow-left';
$retina-sp-arrow-left-x: 257px;
$retina-sp-arrow-left-y: 83px;
$retina-sp-arrow-left-offset-x: -257px;
$retina-sp-arrow-left-offset-y: -83px;
$retina-sp-arrow-left-width: 7px;
$retina-sp-arrow-left-height: 13px;
$retina-sp-arrow-left-total-width: 271px;
$retina-sp-arrow-left-total-height: 158px;
$retina-sp-arrow-left-image: '../images/generated/sprites@2x.png';
$retina-sp-arrow-left: (257px, 83px, -257px, -83px, 7px, 13px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-arrow-left', );
$retina-sp-arrow-name: 'retina_sp-arrow';
$retina-sp-arrow-x: 236px;
$retina-sp-arrow-y: 66px;
$retina-sp-arrow-offset-x: -236px;
$retina-sp-arrow-offset-y: -66px;
$retina-sp-arrow-width: 10px;
$retina-sp-arrow-height: 6px;
$retina-sp-arrow-total-width: 271px;
$retina-sp-arrow-total-height: 158px;
$retina-sp-arrow-image: '../images/generated/sprites@2x.png';
$retina-sp-arrow: (236px, 66px, -236px, -66px, 10px, 6px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-arrow', );
$retina-sp-car-name: 'retina_sp-car';
$retina-sp-car-x: 128px;
$retina-sp-car-y: 35px;
$retina-sp-car-offset-x: -128px;
$retina-sp-car-offset-y: -35px;
$retina-sp-car-width: 64px;
$retina-sp-car-height: 48px;
$retina-sp-car-total-width: 271px;
$retina-sp-car-total-height: 158px;
$retina-sp-car-image: '../images/generated/sprites@2x.png';
$retina-sp-car: (128px, 35px, -128px, -35px, 64px, 48px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-car', );
$retina-sp-circle-name: 'retina_sp-circle';
$retina-sp-circle-x: 128px;
$retina-sp-circle-y: 83px;
$retina-sp-circle-offset-x: -128px;
$retina-sp-circle-offset-y: -83px;
$retina-sp-circle-width: 27px;
$retina-sp-circle-height: 28px;
$retina-sp-circle-total-width: 271px;
$retina-sp-circle-total-height: 158px;
$retina-sp-circle-image: '../images/generated/sprites@2x.png';
$retina-sp-circle: (128px, 83px, -128px, -83px, 27px, 28px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-circle', );
$retina-sp-click-name: 'retina_sp-click';
$retina-sp-click-x: 0px;
$retina-sp-click-y: 128px;
$retina-sp-click-offset-x: 0px;
$retina-sp-click-offset-y: -128px;
$retina-sp-click-width: 19px;
$retina-sp-click-height: 30px;
$retina-sp-click-total-width: 271px;
$retina-sp-click-total-height: 158px;
$retina-sp-click-image: '../images/generated/sprites@2x.png';
$retina-sp-click: (0px, 128px, 0px, -128px, 19px, 30px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-click', );
$retina-sp-clipboard-name: 'retina_sp-clipboard';
$retina-sp-clipboard-x: 245px;
$retina-sp-clipboard-y: 35px;
$retina-sp-clipboard-offset-x: -245px;
$retina-sp-clipboard-offset-y: -35px;
$retina-sp-clipboard-width: 23px;
$retina-sp-clipboard-height: 30px;
$retina-sp-clipboard-total-width: 271px;
$retina-sp-clipboard-total-height: 158px;
$retina-sp-clipboard-image: '../images/generated/sprites@2x.png';
$retina-sp-clipboard: (245px, 35px, -245px, -35px, 23px, 30px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-clipboard', );
$retina-sp-coins-name: 'retina_sp-coins';
$retina-sp-coins-x: 192px;
$retina-sp-coins-y: 35px;
$retina-sp-coins-offset-x: -192px;
$retina-sp-coins-offset-y: -35px;
$retina-sp-coins-width: 27px;
$retina-sp-coins-height: 31px;
$retina-sp-coins-total-width: 271px;
$retina-sp-coins-total-height: 158px;
$retina-sp-coins-image: '../images/generated/sprites@2x.png';
$retina-sp-coins: (192px, 35px, -192px, -35px, 27px, 31px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-coins', );
$retina-sp-company-logo-name: 'retina_sp-company-logo';
$retina-sp-company-logo-x: 128px;
$retina-sp-company-logo-y: 0px;
$retina-sp-company-logo-offset-x: -128px;
$retina-sp-company-logo-offset-y: 0px;
$retina-sp-company-logo-width: 143px;
$retina-sp-company-logo-height: 35px;
$retina-sp-company-logo-total-width: 271px;
$retina-sp-company-logo-total-height: 158px;
$retina-sp-company-logo-image: '../images/generated/sprites@2x.png';
$retina-sp-company-logo: (128px, 0px, -128px, 0px, 143px, 35px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-company-logo', );
$retina-sp-envelope-name: 'retina_sp-envelope';
$retina-sp-envelope-x: 238px;
$retina-sp-envelope-y: 83px;
$retina-sp-envelope-offset-x: -238px;
$retina-sp-envelope-offset-y: -83px;
$retina-sp-envelope-width: 19px;
$retina-sp-envelope-height: 13px;
$retina-sp-envelope-total-width: 271px;
$retina-sp-envelope-total-height: 158px;
$retina-sp-envelope-image: '../images/generated/sprites@2x.png';
$retina-sp-envelope: (238px, 83px, -238px, -83px, 19px, 13px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-envelope', );
$retina-sp-glass-name: 'retina_sp-glass';
$retina-sp-glass-x: 221px;
$retina-sp-glass-y: 83px;
$retina-sp-glass-offset-x: -221px;
$retina-sp-glass-offset-y: -83px;
$retina-sp-glass-width: 17px;
$retina-sp-glass-height: 17px;
$retina-sp-glass-total-width: 271px;
$retina-sp-glass-total-height: 158px;
$retina-sp-glass-image: '../images/generated/sprites@2x.png';
$retina-sp-glass: (221px, 83px, -221px, -83px, 17px, 17px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-glass', );
$retina-sp-line-name: 'retina_sp-line';
$retina-sp-line-x: 264px;
$retina-sp-line-y: 83px;
$retina-sp-line-offset-x: -264px;
$retina-sp-line-offset-y: -83px;
$retina-sp-line-width: 2px;
$retina-sp-line-height: 13px;
$retina-sp-line-total-width: 271px;
$retina-sp-line-total-height: 158px;
$retina-sp-line-image: '../images/generated/sprites@2x.png';
$retina-sp-line: (264px, 83px, -264px, -83px, 2px, 13px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-line', );
$retina-sp-location-name: 'retina_sp-location';
$retina-sp-location-x: 19px;
$retina-sp-location-y: 128px;
$retina-sp-location-offset-x: -19px;
$retina-sp-location-offset-y: -128px;
$retina-sp-location-width: 13px;
$retina-sp-location-height: 17px;
$retina-sp-location-total-width: 271px;
$retina-sp-location-total-height: 158px;
$retina-sp-location-image: '../images/generated/sprites@2x.png';
$retina-sp-location: (19px, 128px, -19px, -128px, 13px, 17px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-location', );
$retina-sp-separator-long-name: 'retina_sp-separator-long';
$retina-sp-separator-long-x: 268px;
$retina-sp-separator-long-y: 35px;
$retina-sp-separator-long-offset-x: -268px;
$retina-sp-separator-long-offset-y: -35px;
$retina-sp-separator-long-width: 2px;
$retina-sp-separator-long-height: 20px;
$retina-sp-separator-long-total-width: 271px;
$retina-sp-separator-long-total-height: 158px;
$retina-sp-separator-long-image: '../images/generated/sprites@2x.png';
$retina-sp-separator-long: (268px, 35px, -268px, -35px, 2px, 20px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-separator-long', );
$retina-sp-separator-short-name: 'retina_sp-separator-short';
$retina-sp-separator-short-x: 270px;
$retina-sp-separator-short-y: 35px;
$retina-sp-separator-short-offset-x: -270px;
$retina-sp-separator-short-offset-y: -35px;
$retina-sp-separator-short-width: 1px;
$retina-sp-separator-short-height: 10px;
$retina-sp-separator-short-total-width: 271px;
$retina-sp-separator-short-total-height: 158px;
$retina-sp-separator-short-image: '../images/generated/sprites@2x.png';
$retina-sp-separator-short: (270px, 35px, -270px, -35px, 1px, 10px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-separator-short', );
$retina-sp-shopping-cart-name: 'retina_sp-shopping-cart';
$retina-sp-shopping-cart-x: 192px;
$retina-sp-shopping-cart-y: 66px;
$retina-sp-shopping-cart-offset-x: -192px;
$retina-sp-shopping-cart-offset-y: -66px;
$retina-sp-shopping-cart-width: 19px;
$retina-sp-shopping-cart-height: 17px;
$retina-sp-shopping-cart-total-width: 271px;
$retina-sp-shopping-cart-total-height: 158px;
$retina-sp-shopping-cart-image: '../images/generated/sprites@2x.png';
$retina-sp-shopping-cart: (192px, 66px, -192px, -66px, 19px, 17px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-shopping-cart', );
$retina-sp-sofa-bottom-name: 'retina_sp-sofa-bottom';
$retina-sp-sofa-bottom-x: 211px;
$retina-sp-sofa-bottom-y: 66px;
$retina-sp-sofa-bottom-offset-x: -211px;
$retina-sp-sofa-bottom-offset-y: -66px;
$retina-sp-sofa-bottom-width: 25px;
$retina-sp-sofa-bottom-height: 12px;
$retina-sp-sofa-bottom-total-width: 271px;
$retina-sp-sofa-bottom-total-height: 158px;
$retina-sp-sofa-bottom-image: '../images/generated/sprites@2x.png';
$retina-sp-sofa-bottom: (211px, 66px, -211px, -66px, 25px, 12px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-sofa-bottom', );
$retina-sp-sofa-name: 'retina_sp-sofa';
$retina-sp-sofa-x: 155px;
$retina-sp-sofa-y: 83px;
$retina-sp-sofa-offset-x: -155px;
$retina-sp-sofa-offset-y: -83px;
$retina-sp-sofa-width: 26px;
$retina-sp-sofa-height: 26px;
$retina-sp-sofa-total-width: 271px;
$retina-sp-sofa-total-height: 158px;
$retina-sp-sofa-image: '../images/generated/sprites@2x.png';
$retina-sp-sofa: (155px, 83px, -155px, -83px, 26px, 26px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-sofa', );
$retina-sp-star-empty-name: 'retina_sp-star-empty';
$retina-sp-star-empty-x: 181px;
$retina-sp-star-empty-y: 83px;
$retina-sp-star-empty-offset-x: -181px;
$retina-sp-star-empty-offset-y: -83px;
$retina-sp-star-empty-width: 20px;
$retina-sp-star-empty-height: 19px;
$retina-sp-star-empty-total-width: 271px;
$retina-sp-star-empty-total-height: 158px;
$retina-sp-star-empty-image: '../images/generated/sprites@2x.png';
$retina-sp-star-empty: (181px, 83px, -181px, -83px, 20px, 19px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-star-empty', );
$retina-sp-star-full-name: 'retina_sp-star-full';
$retina-sp-star-full-x: 201px;
$retina-sp-star-full-y: 83px;
$retina-sp-star-full-offset-x: -201px;
$retina-sp-star-full-offset-y: -83px;
$retina-sp-star-full-width: 20px;
$retina-sp-star-full-height: 19px;
$retina-sp-star-full-total-width: 271px;
$retina-sp-star-full-total-height: 158px;
$retina-sp-star-full-image: '../images/generated/sprites@2x.png';
$retina-sp-star-full: (201px, 83px, -201px, -83px, 20px, 19px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-star-full', );
$retina-sp-user-name: 'retina_sp-user';
$retina-sp-user-x: 128px;
$retina-sp-user-y: 111px;
$retina-sp-user-offset-x: -128px;
$retina-sp-user-offset-y: -111px;
$retina-sp-user-width: 14px;
$retina-sp-user-height: 16px;
$retina-sp-user-total-width: 271px;
$retina-sp-user-total-height: 158px;
$retina-sp-user-image: '../images/generated/sprites@2x.png';
$retina-sp-user: (128px, 111px, -128px, -111px, 14px, 16px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-user', );
$retina-sp-www-name: 'retina_sp-www';
$retina-sp-www-x: 0px;
$retina-sp-www-y: 0px;
$retina-sp-www-offset-x: 0px;
$retina-sp-www-offset-y: 0px;
$retina-sp-www-width: 128px;
$retina-sp-www-height: 128px;
$retina-sp-www-total-width: 271px;
$retina-sp-www-total-height: 158px;
$retina-sp-www-image: '../images/generated/sprites@2x.png';
$retina-sp-www: (0px, 0px, 0px, 0px, 128px, 128px, 271px, 158px, '../images/generated/sprites@2x.png', 'retina_sp-www', );
$spritesheet-width: 271px;
$spritesheet-height: 158px;
$spritesheet-image: '../images/generated/sprites.png';
$spritesheet-sprites: ($sp-agent, $sp-arrow-left, $sp-arrow, $sp-car, $sp-circle, $sp-click, $sp-clipboard, $sp-coins, $sp-company-logo, $sp-envelope, $sp-glass, $sp-line, $sp-location, $sp-separator-long, $sp-separator-short, $sp-shopping-cart, $sp-sofa-bottom, $sp-sofa, $sp-star-empty, $sp-star-full, $sp-user, $sp-www, );
$spritesheet: (271px, 158px, '../images/generated/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 271px;
$retina-spritesheet-height: 158px;
$retina-spritesheet-image: '../images/generated/sprites@2x.png';
$retina-spritesheet-sprites: ($retina-sp-agent, $retina-sp-arrow-left, $retina-sp-arrow, $retina-sp-car, $retina-sp-circle, $retina-sp-click, $retina-sp-clipboard, $retina-sp-coins, $retina-sp-company-logo, $retina-sp-envelope, $retina-sp-glass, $retina-sp-line, $retina-sp-location, $retina-sp-separator-long, $retina-sp-separator-short, $retina-sp-shopping-cart, $retina-sp-sofa-bottom, $retina-sp-sofa, $retina-sp-star-empty, $retina-sp-star-full, $retina-sp-user, $retina-sp-www, );
$retina-spritesheet: (271px, 158px, '../images/generated/sprites@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-agent-group-name: 'sp-agent';
$sp-agent-group: ('sp-agent', $sp-agent, $retina-sp-agent, );
$sp-arrow-left-group-name: 'sp-arrow-left';
$sp-arrow-left-group: ('sp-arrow-left', $sp-arrow-left, $retina-sp-arrow-left, );
$sp-arrow-group-name: 'sp-arrow';
$sp-arrow-group: ('sp-arrow', $sp-arrow, $retina-sp-arrow, );
$sp-car-group-name: 'sp-car';
$sp-car-group: ('sp-car', $sp-car, $retina-sp-car, );
$sp-circle-group-name: 'sp-circle';
$sp-circle-group: ('sp-circle', $sp-circle, $retina-sp-circle, );
$sp-click-group-name: 'sp-click';
$sp-click-group: ('sp-click', $sp-click, $retina-sp-click, );
$sp-clipboard-group-name: 'sp-clipboard';
$sp-clipboard-group: ('sp-clipboard', $sp-clipboard, $retina-sp-clipboard, );
$sp-coins-group-name: 'sp-coins';
$sp-coins-group: ('sp-coins', $sp-coins, $retina-sp-coins, );
$sp-company-logo-group-name: 'sp-company-logo';
$sp-company-logo-group: ('sp-company-logo', $sp-company-logo, $retina-sp-company-logo, );
$sp-envelope-group-name: 'sp-envelope';
$sp-envelope-group: ('sp-envelope', $sp-envelope, $retina-sp-envelope, );
$sp-glass-group-name: 'sp-glass';
$sp-glass-group: ('sp-glass', $sp-glass, $retina-sp-glass, );
$sp-line-group-name: 'sp-line';
$sp-line-group: ('sp-line', $sp-line, $retina-sp-line, );
$sp-location-group-name: 'sp-location';
$sp-location-group: ('sp-location', $sp-location, $retina-sp-location, );
$sp-separator-long-group-name: 'sp-separator-long';
$sp-separator-long-group: ('sp-separator-long', $sp-separator-long, $retina-sp-separator-long, );
$sp-separator-short-group-name: 'sp-separator-short';
$sp-separator-short-group: ('sp-separator-short', $sp-separator-short, $retina-sp-separator-short, );
$sp-shopping-cart-group-name: 'sp-shopping-cart';
$sp-shopping-cart-group: ('sp-shopping-cart', $sp-shopping-cart, $retina-sp-shopping-cart, );
$sp-sofa-bottom-group-name: 'sp-sofa-bottom';
$sp-sofa-bottom-group: ('sp-sofa-bottom', $sp-sofa-bottom, $retina-sp-sofa-bottom, );
$sp-sofa-group-name: 'sp-sofa';
$sp-sofa-group: ('sp-sofa', $sp-sofa, $retina-sp-sofa, );
$sp-star-empty-group-name: 'sp-star-empty';
$sp-star-empty-group: ('sp-star-empty', $sp-star-empty, $retina-sp-star-empty, );
$sp-star-full-group-name: 'sp-star-full';
$sp-star-full-group: ('sp-star-full', $sp-star-full, $retina-sp-star-full, );
$sp-user-group-name: 'sp-user';
$sp-user-group: ('sp-user', $sp-user, $retina-sp-user, );
$sp-www-group-name: 'sp-www';
$sp-www-group: ('sp-www', $sp-www, $retina-sp-www, );
$retina-groups: ($sp-agent-group, $sp-arrow-left-group, $sp-arrow-group, $sp-car-group, $sp-circle-group, $sp-click-group, $sp-clipboard-group, $sp-coins-group, $sp-company-logo-group, $sp-envelope-group, $sp-glass-group, $sp-line-group, $sp-location-group, $sp-separator-long-group, $sp-separator-short-group, $sp-shopping-cart-group, $sp-sofa-bottom-group, $sp-sofa-group, $sp-star-empty-group, $sp-star-full-group, $sp-user-group, $sp-www-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
