//breakpoint for the main cutoff
@include respond-above(main) {
  .wizard {
    display: none;
  }
  .how-it-works {
    display: none;
  }
  //.search-results {
  //  width: 100%;
  //}
  //.test-wrapper {
  //  width: 100%;
  //}
  .company-image-container {
    flex: 1;
    .company-image {
      left: 7px;
    }
  }
  .company-description {
    flex: 3;
    &-text {
      align-self: flex-end;
    }
  }
  .company-description-payment {
    flex: 1;
  }
  .separator-xl {
    display: none;
  }
  //.content{
  //  width:100%;
  //}
  .content,.search-results,.test-wrapper{
    width:100%;
  }
}

//  Large Breakpoint
@include respond-above(large) {
  .separator-xl {
    display: inline-block;
  }
  .wizard {
    display: none;
  }
  .content {
    width: 100%;
    .search-results {
      @include margin-center;
      &-filter {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        &-right {
          max-width: 220px;
          text-align: center;
          flex: 1;
          width: 185px;
          height: 40px;
          position: static;
          margin-left: 5px;
          @include padding(10px, 20px, 10px, 20px);
          border: 1px solid $insurance-border;
          border-radius: 3px;
          .number-rating, .agent-rating, .separator-short {
            display: none;
          }
        }
        &-left {
          max-width: 220px;
          margin-right: 5px;

          text-align: center;
          flex: 1;
          height: 40px;
          position: static;
          .separator-short, .separator-long {
            display: none;
          }
          @include padding(10px, 20px, 10px, 20px);
          margin-left: 25px;
          border-radius: 3px;
          border: 1px solid $insurance-border
        }
      }
    }
  }

  .header {
    height: 290px;
    .interactive-row {
      display: none;
    }
    &-wrapper {
      width: 70vw;
      padding-top: 50px;
      .header--text {
        display: none;
      }
    }
    .header--title {
      width: 50%;
      padding: 0;
      margin: auto;
      &::after, &::before {
        display: none;
      }
    }

  }

  .results {
    width: 100%;
    .how-it-works {
      display: none;
    }
  }
  .footer {
    .contact {
      width: 260px;
      input {
        width: 240px;
      }
    }
  }
}

//    Medium breakpoint
@include respond-above(medium) {
  body {
    height: 1870px;
  }
  .header {
    .header--text {
      white-space: normal;
      height: 190px;
      margin: 0 auto;
      font-size: 17px;
    }
  }
  .search-results {
    width: 100%;
    &-header {
      margin-top: 0;
      width: 100%;
      @include padding(10px, 0, 15px, 0);
      h3 {
        text-align: center;
      }
    }
  }
  .result {
    .separator-xl {
      margin-top: 0;
      position: static;
    }
    width: 100%;
    height: 150px;
    .company-image-container {
      flex: 1;
      height: 115px;
      min-width: 100px;
      .company-image {
        transform: scale(0.6);
        left: -20px;
      }
    }

    .location-rating-wrapper {
      flex-direction: column-reverse;
      @include margin-center;
      //padding-top: 25px;
      padding: 0;
      width: 73px;
      margin-right: 14%;
      height: 76px;
    }
  }
  .company-description {
    flex: 4;
    padding: 0;
    &-text {
      display: none;
    }
  }
  .location-rating-wrapper {
    flex-direction: column;
    width: 50px;
    height: 60px;
    @include margin-center;
  }
  .company-description-payment {
    flex: 2;
    &-text {
      padding: 0;
    }
  }
  .footer {
    top: 100%;
    height: 150px;
    &-content {
      height: 100%;
      flex-direction: column;
      width: 100%;
      .contact {
        margin-top: 0;
        padding: 0;
        & > * {
          text-align: center;
        }
        .contact-text-input {
          width: 70%;
          @include margin(-6px, 0, 0, 0);
        }
      }
      .main {
        display: none
      }
    }
    &-right {
      display: none;
    }
    &-copyright {
      height: 40px;
      margin-top: -3px;
    }
  }
}

@include respond-above(Smedium) {
  .header {
    height: 290px;
    .interactive-row {
      background-color: white;
      .icons-left {
        margin: 0;
      }
    }
    .header--text {
      display: none;
    }
  }
  .search-results-header {
    margin-top: 0;
    h3 {
      margin: 0 auto;
      width: 175px;
    }
  }

  .search-results-filter {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .result {
    border-top: 1px solid $insurance-border;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin: 0;
    .result-header {
      @include margin(19px, 34%, 0, auto);
    }
    .separator-xl {
      margin-top: 15px;
    }
    &:last-child {
      border-bottom: 1px solid $insurance-border;
    }
    .company-image-container {
      @include padding-right(10px);
    }
    .company-description {
      &-payment {
        padding: 0;
      }
      .company-description-text {
        display: none;
      }
      .location-rating-wrapper {
        justify-content: space-around;
        margin-right: 13px;
        .company-description-rating {
          padding-top: 0;
        }
      }
    }
  }
  .purchase-container {
    width: 55px;
    p {
      display: none;
    }
  }
  .company-description-payment {
    align-items: baseline;
    height: 70px;
    align-self: flex-end;
    flex-direction: row-reverse;
  }
  &-text {
    .cost {
      padding-right: 28px;
    }
  }
}

@include respond-above(XMsmall) {
  .result {
    .company-description-payment {
      align-self: flex-end;
      height: 70px;
      align-items: baseline;
    }
  }
}

@include respond-above(Xsmall) {
  body {
    height: 1350px;
  }
  .header {
    height: 230px;
    .header-wrapper {
      .header--title {
        margin-right: 45%;
      }
    }
  }
  .content {

    .search-results {

      .search-results-filter {
        display: flex;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 13px;

        &-left {
          font-size: inherit;
          display: flex;
          flex-direction: row;
          direction: rtl;
          padding-left: 14px;
          padding-right: 0;

        }

        &-right {
          padding-left: 13px;
          padding-right: 2px;
          display: flex;
          flex-direction: row;
          direction: rtl;
          font-size: inherit;
          .down-arrow {
            margin-top: 4px;
          }
        }
      }
      .result {
        height: 110px;
        .result-header {
          margin-right: 27%;
          font-size: 18px;
        }
        .separator-xl {
          transform: scale(0.5);
          margin-top: -8px;
        }
        .result-content {
          .company-image-container {
            min-width: 60px;
            height: 70px;
            margin-left: 0;
            .company-image {
              transform: scale(0.35);
              left: -41px;
              top: 19px;
            }
          }
        }
        .company-description {
          .location-rating-wrapper {
            transform: scale(0.7);
          }
        }
        .company-description-payment {
          &-text {
            .cost {
              font-size: 30px;
            }
            p {
              font-size: 12px;
            }
          }

          .purchase-container {
            width: 50px;
            @include margin(9px, 3px, 23px, 7px);
          }
        }
      }
    }
  }
  .pagination {
    width: 100%;
  }
}
