
html {
  box-sizing: border-box;
  @include Material;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  @include ltr {
    direction: ltr;
  }
  @include rtl {
    direction: rtl;
  }
font-family: 'SpoilerHE';
background-color:$greyer-background;

}

.clearfix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.content {
  display: flex;
  margin: 0 auto;
  width: 1025px;
  text-align: center;
  justify-content: space-between;
}

body {
  position: relative;
  height: 2415px;
}

.wrapper {
  min-height: 100%;
  position: relative;
}
.test-wrapper{
  margin:0 auto;
  position:relative;
  background: transparent;
  top: -42px;
  width:1100px;
}

