
html {
  box-sizing: border-box;
  @include Material;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  @include ltr {
    direction: ltr;
  }
  @include rtl {
    direction: rtl;
  }
}

// Containers
body {
font-family: 'SpoilerHE';
background-color:$greyer-background;
}

.clearfix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

